.App {
  text-align: center;
}

#windowSize, #deviceType {
  border: solid black 1px;
  padding: 20px;
  width: 220px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
}

.collapsible {
  width: 350px;
  border: solid black 1px;
  padding: 0;
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
  border-radius: 5px;
}

.titleBox {
  background-color: lightgray;
  padding: 2px;
  padding-left: 10px;
  margin: 0;
  border-bottom: solid black 1px;
}

.contents {
  padding: 10px;
}